body {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

  @media (max-width: 655px) {
    font-size: 18px;
  }
}

.todo__container {
  margin: 80px auto;
  padding: 30px 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.todo__list {
  padding: 10px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.todo__list-text {
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.todo__item {
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.todo__wrapper-btn {
  margin-left: auto;
  display: flex;
  gap: 8px;

  @media (max-width: 655px) {
    flex-direction: column;
  }
}

.button {
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;

  @media (max-width: 655px) {
    padding: 8px;
    font-size: 18px;
  }
}

.todo__edit-button {
  background-color: #E3FF73;
}

.todo__create-button {
  background-color: chartreuse;
}

.todo__delete-button {
  background-color: rgb(213, 106, 106);
}

.todo__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @media (max-width: 655px) {
    flex-direction: column;
  }
}

.todo__input {
  padding: 12px;
  font-size: inherit;
  min-width: 280px;
  border-radius: 20px;
}


.todo__create-button {
  padding: 15px;
}

.todo__item-input {
  padding: 10px;
  width: 100%;
  font-size: inherit;
  border: none;
  outline: none;
}

.todo__text {
  margin: 0;
  padding: 10px;
  width: 100%;
}

.todo__text--checked {
  font-weight: 700;
  text-decoration: line-through;
}

.todo__text-error {
  font-size: 15px;
  color: rgb(163, 8, 8);
}

.todo__checkbox {
  width: 25px;
  height: 25px;
  flex: 1 0 auto;
  accent-color: #C56FFF;
}
